<html lang="en">
 <body>
    <section>
      <!--for demo wrap-->
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Full_Name</th>
              <th>Price</th>
              <th>Image</th>
              <th>Feature</th>
              <th><a class="btn btn-secondary" href="/special/add">Add</a></th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
         {{#each toySpecials }}
            <tbody>
            <tr>
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{price}} $</td>
              <td><img src="{{img}}" alt="" class="image"></td>
              <td><a class="btn btn-secondary" href="/special/edit/{{_id}}">Edit</a></td>
              <td><a class="btn btn-danger" href="/special/delete/{{_id}}" onclick="return confirm('Are you sure about it ?')">Delete</a></td>
            </tr>
          </tbody>
         {{/each}}
        </table>
      </div>
    </section>

    <!-- follow me template -->
  </body>
</html>